#card {
    position: relative;
    top: 110px;
    width: 320px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: -5rem;
}

#upper-side {
    padding: 2em;
    background-color: #8a2aaa;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}


#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
}

#lower-side {
    padding: 2em 2em 5em 2em;
    background: #f5f5f5;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#message {
    margin-top: -.5em;
    color: #757575;
    letter-spacing: 1px;
}