.product-page {

    margin: 5rem 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.productpage-heading {
    margin: 0 auto 5rem;
    position: relative;
    line-height: 6rem;
    color: #555;
    font-size: 2.5rem;
}

select,
option {
    height: 3rem;
    margin-right: 1rem;
    border-radius: 4px;
    background: linear-gradient(to right, rgba(138, 42, 170, 0.4), rgba(138, 42, 170, 0.4));
    border: none;
}



.pagination-btn {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 8px 20px;
    margin: 30px 20px;
    border-radius: 3px;
    transition: 0.5s;
    border: none;
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;
}

.pagination-btn:hover {
    background-color: rgb(230, 226, 226);
    color: black;
}


.page-active {
    background-color: var(--btn-hover);
}


@media screen and (max-width:800px) {

    select,
    option {
        width: 18rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

}